h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;

  padding: 2rem 4rem;

  background-color: #3291b6;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: black;

  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  padding: 0 0.5em;
}

.links a:hover {
  color: white;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  background-color: #c7fde2;

  padding: 2em 0;
}

.main-container img {
  border-radius: 50%;
}

.main-content {
  width: 40%;

  padding-left: 10em;
}

.main-content h2 {
  padding: 1.5em 0;
}

.main-content p {
  line-height: 1.5em;
}

.secondary-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  padding: 2.5em 0;
}

.hobbies-container {
  padding-right: 2em;
}

.hobbies-container h2 {
  text-align: end;

  padding-bottom: 0.5em;
}

.hobbies-division {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hobbies-division img {
  width: 5em;

  margin-top: 0.5em;
}

.hobbie {
  width: 6.5em;
  height: 9em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-right: 1em;
  border-radius: 0.5em;

  background-color: #dbffe6;
}

.hobbie p {
  padding-bottom: 1em;

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.hobbie:last-child {
  margin: 0;
}

.top-5-container h2 {
  text-align: start;

  padding-bottom: 0.5em;
}

.top-5-division {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.top-5-division img {
  width: 5em;

  margin-top: 0.5em;
}

.top-5 {
  position: relative;

  width: 6.5em;
  height: 9em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-left: 1em;
  border-radius: 0.5em;

  background-color: #dbffe6;
}

.top-5 p {
  padding-bottom: 1em;
  text-align: center;

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.top-5:first-child {
  margin: 0;
}

.flags {
  position: absolute;
  top: 0;
  left: 0.5em;

  border-radius: 0 0 0.3em 0.3em;

  background-color: #c4c4c4;
}

.flags p {
  padding: 0.7em 0.3em;
}

.top1 {
  background-color: #fcc201;
}

.top2 {
  background-color: #d6d6d6;
}

.top3 {
  background-color: #967444;
}

.footer {
  padding: 1.5rem;

  display: flex;
  justify-content: space-between;

  background-color: #3291b6;
}

.button {
  display: flex;
  align-items: center;

  border-radius: 0.5em;
  padding: 0.5em 2em;
  margin-right: 5em;

  background-color: #ffffff;
}

.button p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

.images {
  width: 20em;
  display: flex;
  justify-content: space-around;
  margin-left: 5em;
}

footer img {
  height: 2.5em;
}

.instagram {
  border-radius: 50%;
}
.facebook,
.linkedin {
  background-color: white;
  border-radius: 50%;
}

.gitlab {
  background-color: black;
  border-radius: 50%;
}
